<template name="header">

  	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="{{pathFor 'home'}}">D&amp;D<strong>CS</strong></a>
	    </div>

		<!-- TODO: show account info when logged in -->
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<!-- {{#if currentUser}} -->
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{pathFor 'groups'}}">Groups</a></li>
					<li><a href="{{pathFor 'characters'}}">Characters</a></li>
            <!-- TODO: resolve -->
			    	<!-- {{> loginButtons }} -->
			    </ul>
		    <!-- {{/if}} -->
	    </div><!-- /.navbar-collapse -->

	  </div>
	</nav>
</template>

<template name="dashboardHeader">
	<div id="page-head" class="hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-8">
					<h4 class="title">{{title}}</h4>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4">
					{{#if addChar}}<button class="btn btn-sm pull-right" id="add-character"><i class="fa fa-plus"></i>&nbsp; New</button>{{/if}}
					{{#if addGroup}}<button class="btn btn-sm pull-right" id="add-group"><i class="fa fa-plus"></i>&nbsp; Group</button>{{/if}}
				</div>
			</div>
		</div>
	</div>
</template>

<!-- <template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <button class="btn btn-default btn-block" id="login-buttons-edit-profile">Edit profile</button>
</template> -->
