<template name="layout">
	<header>
      {{> header}}
    </header>

    {{> yield}}
</template>

<template name="dashboard_layout">
  <div class="container-fluid">
		<div id="dashboard-panel-menu">
			<a class="dashboard-brand" href="{{pathFor 'home'}}">D&amp;D<strong>CS</strong></a>

			<ul>
				<li><i class="fa fa-newspaper-o fa-fw"></i></li>
				<li><i class="fa fa-user fa-fw"></i></li>
				<li><i class="fa fa-newspaper-o fa-fw"></i></li>
				<li><i class="fa fa-user fa-fw"></i></li>
			</ul>
		</div>

		<div class="col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1">
			{{> yield}}
		</div>
	</div>
</template>
