<template name="layout">
	<header>
      {{> header}}
    </header>

    {{> yield}}
</template>

<template name="dashboard_layout">
  <div class="container-fluid">
		<!-- TODO: implement dashboard sidebar -->
		<div class="col-md-1" style="height: 100vh; position: fixed; background: #333;">
			<!-- blaze component may be useful here? research -->
			<a class="dashboard-brand" href="{{pathFor 'home'}}">D&amp;D<strong>CS</strong></a>
		</div>

		<div class="col-md-11 col-md-offset-1">
			{{> yield}}
		</div>
	</div>
</template>
