<template name="pageHead">
<div id="page-head" class="hidden-xs">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-8">
				<h4 class="title">{{title}}</h4>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">
				{{#if addChar}}<button class="btn btn-sm pull-right" id="add-character"><i class="fa fa-plus"></i>&nbsp; New</button>{{/if}}
				{{#if addGroup}}<button class="btn btn-sm pull-right" id="add-group"><i class="fa fa-plus"></i>&nbsp; Group</button>{{/if}}
			</div>
		</div>
	</div>
</div>
</template>