/* CSS declarations go here */
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic|Merriweather:400,400italic,700,700italic,900,900italic');

lato = "Lato", sans-serif
merri = "Merriweather", serif

html
	font-size 13px
	letter-spacing 1px

body
	overflow auto

#body-wrapper
	margin-top 85px

/* Header
 * Lorem ipsum dolor sit amet
 */

nav.navbar
	height 55px
	font-family lato
	padding 0 20px 0 10px
	background #f4f4f4

	// everything over 768px (tablet screens)
	@media handheld, screen and (min-width: 768px)
		padding 0 20px

	// Full Navigation
	ul
		font-size 14px
		line-height 1
		padding 0

		li
			padding 18px 20px 17px 0
			letter-spacing 0.3px
		li a
			padding 0
			color #4E4E4E

		// TODO: replace with accounts-ui-unstyled & move
		a.login-link-text
			text-decoration none !important
			position relative
			top 2.5px
			opacity .4
			&:hover
				opacity 1

	// Mobile Navbar Toggle
	.navbar-toggle
		margin 22px 0 20px 0
		border none
		padding 0
		opacity .8

	// Logo / Wordmark
	a.navbar-brand
		font-weight 800
		letter-spacing 1px
		font-size 24px
		padding 18px 2px 8px
		color #4E4E4E

		strong
			opacity .5
			font-weight 900

	// Home Page-Specific Styles
	&.home-page
		background transparent
		border none

		a.navbar-brand, ul li a
			color white
			opacity .8


#main-hero
	height 100vh
	background url('/images/ToDKeyArt1.jpg')
	background-size cover
	background-position 50% 40%

	h1,h2
		color white
		line-height 1.2
		margin 0
		letter-spacing 1px
	h1
		text-transform uppercase
		font-weight 900
		font-size 66px
	h2
		font-weight 300
		opacity .75
		margin-bottom 30px
	span
		font-family lato
		text-transform uppercase
		margin 0 18px 0
		color #fff
		opacity .45
		font-size 12px
		font-weight 400
		letter-spacing 1px

		i
			opacity .5
			margin-left 3px
			margin-right 2px

	#welcome
		padding-top 37vh

	.screen
		height 100%
		width 100%
		background rgba(25, 25, 25, .2)

	.scroll-down
		position absolute
		bottom 30px
		left 0
		right 0
		opacity .7

		i
			color white