/* CSS declarations go here */
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic|Merriweather:400,400italic,700,700italic,900,900italic');

lato = "Lato", sans-serif
merri = "Merriweather", serif

body
	font-size 16px
	background #ddd


/* Header
 * Lorem ipsum dolor sit amet
 */

nav.navbar
	height 70px
	font-family "Lato", sans-serif

	.navbar-header
		height 70px
		padding-top 10px
	
	.navbar-collapse
		padding-top 10px
		
	ul
		font-family lato
		font-size 16px
		line-height 1
	
	a.navbar-brand
		font-weight 700
		font-size 24px
		strong
			opacity .5
			font-weight 900
			
#main-hero
	height 400px
	margin-top 70px
	background url('/images/ToDKeyArt1.jpg')
	background-size cover
	background-position 50% 40%
	padding-top 130px
	margin-bottom 40px
	
	h1
		color white
		opacity .9
		line-height 1.2
		text-transform uppercase
		font-weight 900
		margin 0 0 10px 0
		letter-spacing 1px
		font-size 50px

#page-head
	height 120px
	margin-top 70px
	background url('/images/ToDKeyArt1.jpg')
	background-size cover
	background-position 50% 40%
	margin-bottom 40px
	padding-top 20px
	
	h3
		color white
		opacity .9
		line-height 1.2
		font-family lato
		color white
		text-transform uppercase
		font-size 32px
		font-weight 700

h1, h2, h3, h4, h5, h6
	font-family lato
	letter-spacing 1px
	text-transform uppercase

h2
	font-family "Lato", sans-serif
	font-size 40px
	text-transform uppercase
	font-weight 900
	opacity .8
	margin 0 0 10px 0
	display block

h4
	font-size 16px
	font-weight 700
	
p
	margin 0 0 30px
	line-height 1.75
	font-family merri
	font-size 14px

	&.clean
		margin 0 0 10px

span
	line-height 1.75
	font-family merri
	font-size 14px

.btn
	font-family lato
	letter-spacing 1px
	text-transform uppercase
	padding 9px 15px

ul
	font-size 14px
	font-family merri
	line-height 1.75

ul.group-list
	margin 0 0 30px

	i
		color red
		font-size 14px

		&:hover
			cursor pointer

#edit-profile
	margin 30px 0 0

	input[type=password]
		margin 0 0 10px


form.create-character
	label
		font-family lato
		font-size 14px
		margin 0 0 7px
	input[type=text]
		height 34px
	input[type=text], select, textarea
		background-color #fff
		padding-top 8px
		box-shadow none
		border none
		font-family lato
	
	h5
		font-family lato
		font-size 26px
		text-transform uppercase
		font-weight 900
		opacity .3
		margin 0 0 20px 0
		display block

	.input-group
		&.input-group-sm
			.input-group-addon
				padding 8px 10px
		.input-group-addon
			background  darken(#ddd, 10%)
			// border-color darken(#ddd, 25%)
			border none
			color darken(#ddd, 60%)
	
	.add-feat-trait
		cursor pointer
		margin-top 10px
	
	.trait
		margin-top 50px
		
		&:nth-child(1), &:nth-child(2), &:nth-child(3)
			margin-top 10px
		
	.add-box
		background #ccc
		text-align center
		padding 55px 40px
		border-radius 5px
		
		span.add
			font-family lato
			font-size 12px
			text-transform uppercase
			letter-spacing 1px
			display block
			margin-top 8px
			font-weight 700
			opacity .7
		
		&:hover
			background #bbb

.form-horizontal
	label
		margin 0 0 10px 0
	.form-group
		margin-top 40px
		.ability-scores, .saving-throws, .general-proficiencies
			.input-group
				margin-bottom 10px

				span.fixed
					width 50px

					&.thin
						width 35px
					&.fat
						width 65px
		
		.general-proficiencies
			.input-group
				span.fixed
					&.prof-name
						width 180px
						text-align left
		
		span.instruction
			display block
			font-size 11px
			line-height 1.45
			margin 10px 0
