/* CSS declarations go here */

body
	font-size 16px
	line-height 1.65

p
	margin 0 0 30px

	&.clean
		margin 0 0 10px

ul.group-list
	margin 0 0 30px

	i
		color red
		font-size 14px

		&:hover
			cursor pointer

#edit-profile
	margin 30px 0 0

	input[type=password]
		margin 0 0 10px

.form-inline

.form-horizontal
	.form-group
		margin-top 40px
		.ability-scores, .saving-throws
			.input-group
				margin-bottom 10px

				span.fixed
					width 50px

					&.thin
						width 35px