h1,h2,h3,h4,h5
	font-family lato

p
	color #4E4E4E
	font-size 1rem
	line-height 1.6

button
	padding 15px 23px 16px
	font-size 1.23rem
	background #333
	color white
	letter-spacing 1px
	border none
	font-family lato
	border-radius 1px

input
	font-family lato